<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Expected Phrase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/2.png') }}" alt="logo">
            </a>
        </div>
        <div class="text-image-container">
            <img src="{{ url_for('static', filename='images/1.png') }}" alt="title">

        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/worksheet">Worksheet</a></li>
                <li><a href="/report">Report</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Enter the expected word or phrase for analysis</h2>
        <form method="post">
            <input type="text" name="expected_text" placeholder="Expected Phrase" required>
            <button type="submit">Start Analyzing</button>
        </form>
    </main>


</body>
</html>
